<!-- transactions.html -->
{% if admin.is_admin %}
{% extends "admin.html" %}
{% else %}
{% extends "base.html" %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <h3>Transaction Details</h3>
    <table class="transaction-table">
        <thead>
            <tr>
                <th>Sr.No.</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Date</th>
                <th>Time</th>
                <th>Balance</th>
                <th>Transaction ID</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ transaction.debit }}</td>
                <td>{{ transaction.credit }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.time }}</td>
                <td>{{ transaction.account_balance }}</td>
                <td>{{ transaction.transaction_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% endif %}